html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: #23241f;
}

/* Bypass default Highlight.js padding. */
pre code.hljs {
    padding: 0px !important;
}

::selection {
    color: #23241f;
    background-color: white;
}

.hidden {
    display: none;
}

.grayed {
    color: #888888;
    font-style: italic;
}

.highlight {
    background-color: whitesmoke;
    color: black;
}

.pc-btn.grayed {
    background-color: #888888;
    color: #222222;
    cursor: not-allowed;
    font-style: normal;
}

.cam-compiler-item.grayed {
    cursor: not-allowed;
}

#root {
    height: 100%;
    width: 100%;
}

#main-container {
    height: 100%;
}

#program-container {
    font-size: 8pt;
    /* height: 100%; */
    width: 960pt;
    color: whitesmoke;
    font-family: 'JetBrains Mono', monospace;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    /* TODO: figure out how to scroll without overflow-y: scroll because
     * this seems to causing the ::before pseudoelement not to show.
     */
}

#program-pane {
    display: flex;
    width: 100%;
}

#module-pane {
    height: 100%;
    width: 360pt;
    overflow-y: scroll;
}

#program-lines-and-controls {
    height: 100%;
    width: 70%;
    margin-right: 20px;
    font-size: 14px;
}

#program-lines {
    border: 1px dashed white;
    padding: 20px;
}

.program-line {
    counter-increment: line;
}

.program-line-text {
    display: inline-block;
    margin: 0px;
}

.program-line::before {
    content: counter(line);
    display: inline-block;
    font-weight: bold;
    margin-left: -30px;
    margin-right: 10px;
    text-align: right;
    width: 20px;
    color: #ffffffab;
}

/* Shared Livelit Styles */

.livelit-window {
    max-width: 90%;
    margin-bottom: 10px;
    border: 1px solid whitesmoke;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.livelit-window .title {
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 10px;
}

.module-value {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title-and-toggle-bar {
    display: flex;
}

.toggle-window-btn {
    background-color: white;
    color: #23241f;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: auto;
}

.livelit-window .content {
    margin-bottom: 10px;
}

.livelit-window .button {
    height: 18px;
    width: 120px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    padding-top: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.livelit-window .help-text {
    margin-top: 10px;
    font-style: italic;
}

.livelit-window .bold-text {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
}

.livelit-window .image-thumbnail {
    height: 100%;
    width: 100%;
    border: 1px solid whitesmoke;
}

.code-box {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid white;
}

/* Livelit-Specific Styles */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.gallery .gallery-item {
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    color: black;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.gallery .gallery-item.gallery-highlight {
    background-color: red;
}

.gallery-image {
    max-width: 50px;
    max-height: 50px;
}

.point-picker {
    display: flex;
    flex-direction: column;
}

.point-picker .table-thumbnail {
    height: 18mm;
    width: 28mm;
    border: 1px solid whitesmoke;
}

.face-finder-thumbnail img {
    max-height: 100%;
    max-width: 100%;
}

#cc-unwarped-feed {
    cursor: crosshair;
    max-height: 100%;
    max-width: 100%;
}

#cc-warped-feed {
    cursor: crosshair;
    max-height: 100%;
    max-width: 100%;
}

.boxed-list {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid white;
}

#cam-compiler-list {
    margin: 10px 10px 0px 0px;
}

.cam-compiler-item {
    padding: 5px;
    cursor: pointer;
}

.cam-compiler-item.highlight {
    color: #23241f;
    background-color: whitesmoke;
}

#machine-param-list {
    margin: 10px 10px 0px 0px;
}

.machine-param {
    margin-left: 10px;
}

.param-key {
    font-weight: bold;
    margin-right: 20px;
}

.param-value {
    margin-right: 20px;
}

#inst-list {
    margin: 10px 10px 0px 0px;
}

.inst-list-item {
    cursor: pointer;
    margin-left: 10px;
    counter-increment: inst-line;
}

.inst-list-item::before {
    content: counter(inst-line);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 20px;
    color: #ffffffab;
}

#viz-interpreter-list {
    margin: 10px 10px 0px 0px;
}

#viz-interpreter-list input[type="checkbox"] {
    margin-right: 10px;
}

.viz-interpreter-item {
    padding: 5px;
    cursor: pointer;
}

#program-console {
    border: 1px solid whitesmoke;
    color: whitesmoke;
    margin-top: 20px;
    height: 75px;
    overflow-y: scroll;
    font-size: 10px;
    padding-left: 15px;
}

#program-console.error-state {
    border: 1px solid #f92672;
    color: #f92672;
}

#program-console.warn-state {
    border: 1px solid #e6db74;
    color: #e6db74;
}

#program-controls {
    margin-top: 20px;
    height: 75px;
    display: flex;
    flex-direction: row;
}

.pc-btn {
    height: 36px;
    width: 100px;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    padding-top: 16px;
}

.pl-highlight {
    background-color: whitesmoke;
    color: black;
}

.pl-highlight pre code.hljs {
    background-color: whitesmoke;
    color: black;
}

#canvas-container {
    width: 100%;
    height: 100%;
}

#main-canvas {
    height: 100%;
    width: 100%;
    padding: 2px;
}

